<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="Objects/GroupFeatures.php"/>
  <file name="Exceptions/GetException.php"/>
  <file name="Enums/GroupPostPublicity.php"/>
  <file name="Exceptions/ApiKeyException.php"/>
  <file name="Enums/GroupHomepage.php"/>
  <file name="Objects/GeneralUser.php"/>
  <file name="Objects/GroupMember.php"/>
  <file name="Objects/UserInfoCard.php">
    <error line="59" severity="error" message="No summary for method membershipTypeLabel()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="Enums/ChatSecuritySetting.php">
    <error line="38" severity="error" message="No summary for method getLabel()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="Enums/HostGuidedGamesPermissionLevel.php">
    <error line="45" severity="error" message="No summary for method getLabel()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="Exceptions/ClientException.php"/>
  <file name="Objects/GroupResponse.php"/>
  <file name="ResponseMediator.php">
    <error line="51" severity="error" message="Argument $response is missing from the Docblock of convertResponseToArray" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="51" severity="error" message="No summary for method convertResponseToArray()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="Enums/Enum.php">
    <error line="26" severity="error" message="No summary for method getLabel()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="AbstractResource.php">
    <error line="51" severity="error" message="No summary for property $data" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="Enums/RuntimeGroupMemberType.php">
    <error line="34" severity="error" message="No summary for method getLabel()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="Exceptions/Exception.php"/>
  <file name="Enums/MembershipOption.php">
    <error line="42" severity="error" message="No summary for method getLabel()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="Objects/ClanInfoAndInvestment.php">
    <error line="34" severity="error" message="No summary for property $casts" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="Objects/ClanBanner.php"/>
  <file name="Exceptions/OAuthException.php"/>
  <file name="Enums/BungieMembershipType.php">
    <error line="60" severity="error" message="No summary for method getLabel()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="Client.php">
    <error line="85" severity="error" message="No summary for method __get()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="108" severity="error" message="No summary for method request()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="156" severity="error" message="No summary for method getHttpClient()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="171" severity="error" message="No summary for method _buildRequestString()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="221" severity="error" message="No summary for method getClanMembers()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="242" severity="error" message="No summary for method getClanAdminsAndFounder()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="261" severity="error" message="No summary for method getCurrentBungieUser()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="281" severity="error" message="No summary for method getBungieUser()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="56" severity="error" message="No summary for property $_httpClient" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="Enums/GroupType.php">
    <error line="30" severity="error" message="No summary for method getLabel()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="Objects/Group.php"/>
</checkstyle>
